
  #dheen2{
    background-image: conic-gradient(rgb(0, 242, 255),violet,pink);
  }
  
  #dheen3{
    background-image: conic-gradient(rgb(180, 130, 238),aqua,pink);
  }

  #dheen4{
    background-image: conic-gradient(rgb(255, 0, 119),aqua,violet);
  }