#dheen1{
    background-image: conic-gradient(red, yellow, green);
  }


  #dheen2{
    background-image: conic-gradient(rgb(8, 0, 255), rgb(0, 255, 153), green);
  }


  #dheen3{
    background-image: conic-gradient(rgb(8, 0, 255), rgb(179, 0, 255), rgb(128, 0, 2));
  }

  #dheen4{
    background-image: conic-gradient(rgb(255, 0, 191), rgb(4, 255, 0), rgb(58, 0, 128));
  }